#cover {
    top: 50%;
    width: 5px;
    margin-top: 1000px;
    padding: 35px;
    background-color: #ffffff;
    border-radius: 100px !important;
    box-shadow: 0 10px 40px #ffffff, 0 0 0 20px #ffffffeb;
    transform: scale(0.6);
    text-align: center;
    justify-content: center;
}

.custom-search-input {
    border: 1px solid #8f8f8f;
    padding: 10px 100px 10px 20px;
    line-height: 1;
    box-sizing: border-box;
    outline: none;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    border-color: #cfcece
}

.custom-search-input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.custom-search-button {
    background: #12204F;
    color: white;
    outline: none;
    border-radius: 0;
    height: 64px;
    font-family: 'Roboto', sans-serif;
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}


.sugestionOptions {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.suggest {
    margin: 4px;
}

.logo-title {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    font-weight: bold;
    font-style: italic;
    -webkit-text-stroke: 1.5px #12204F;
    font-size: 64px;
}

.shake-on-hover {
    transition: transform 1s;
}

.shake-on-hover:hover {
    animation: shake 2s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(0, 0) rotate(0);
      }
      20% {
        transform: translate(-10px, 0) rotate(-10deg);
      }
      30% {
        transform: translate(10px, 0) rotate(10deg);
      }
      50% {
        transform: translate(-10px, 0) rotate(-10deg);
      }
      60% {
        transform: translate(10px, 0) rotate(10deg);
      }
      100% {
        transform: translate(0, 0) rotate(0);
      }
}


.animated-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    font-weight: bold;
    font-style: italic;
    -webkit-text-stroke: 1.5px #12204F;
    font-size: 64px;
  }
  
  .animated-letter {
    display: inline-block;
    margin: 0 8px;
    color: transparent;
    font-weight: bold;
    animation-name: bounce;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
    animation-delay: calc(0.1s * var(--i));
    animation-fill-mode: backwards;
  }
  
  @keyframes bounce {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    50% {
      opacity: 1;
      transform: translateY(-10px);
    }
    80% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(0);
    }
  }
  