#cover {
    top: 50%;
    width: 5px;
    margin-top: 1000px;
    padding: 35px;
    background-color: #ffffff;
    border-radius: 100px !important;
    box-shadow: 0 10px 40px #ffffff, 0 0 0 20px #ffffffeb;
    transform: scale(0.6);
    text-align: center;
    justify-content: center;
}

.custom-search-input {
    border: 1px solid #8f8f8f;
    padding: 10px 100px 10px 20px;
    line-height: 1;
    box-sizing: border-box;
    outline: none;
    display: block;
    font-family: 'Roboto' , sans-serif;
    font-size:18px;
    border-color: #cfcece
}
.custom-search-input::placeholder{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
} 
.custom-search-button {
    background: #12204F;
    color: #fff;
    outline: none;
    border-radius: 0;
    height: 64px;
    font-family: 'Roboto', sans-serif;
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}

.sugestionOptions{
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.suggest{
    margin: 4px;
}

