input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 5px;
    border: none;
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-radius: 5px;
}

.jumbotron{
    position: absolute;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    top:15%;
    left: 55% ;
    background-color: #070f2d;
    float: right;
    padding: 80px;
    width: 40%;
    height: 70%;

}
.gradient-background{
    margin: 0;
    padding: 80px;
    height: 100vh;
    background: linear-gradient(to bottom, #e4e4e7, rgba(31, 35, 68, 0.68), #0b0f31, #030615);
}

.All{
    position: absolute;
    top: 35%;
    left: 5%;
    font-size: 70px;
    color: white;
    font-weight: bold;
    font-style: italic;
    -webkit-text-stroke: 1px #ffffff;
    opacity: 80%;
}
.Free{
    position: absolute;
    top: 45%;
    left: 5%;
    font-size: 70px;
    color: transparent;
    font-weight: bold;
    font-style: italic;
    -webkit-text-stroke: 1px #ffffff;
    opacity: 80%;

}

.Sign{
    position: absolute;
    top: 8%;
    left: 11%;
    font-size: 30px;
    color: white;
    font-weight: bold;
    font-style: italic;
    opacity: 60%;
}



.first{
    position:absolute;
    top: 18%;
    left: 11%;
    width: 35%;
}

.last{
    position:absolute;
    top: 18%;
    left: 50%;
    width: 39%;
}

.email{
    position:absolute;
    top: 32%;
    left: 11%;
    width: 78%;
}

.username{
    position:absolute;
    top: 46%;
    left: 11%;
    width: 78%;
}

.password{
    position:absolute;
    top: 60%;
    left: 11%;
    width: 78%;
}

.CreateButton{
    position:absolute;
    top: 77%;
    left: 25%;
    width: 50%;
}

.Login{
    position: absolute;
    top: 90%;
    left: 28%;
    opacity: 50%;
}