/* .gradient-background {
    background: linear-gradient(90deg, rgb(7, 15, 45) 0%, rgb(52, 71, 123) 100%);
    overflow: hidden;
    animation: animate-gradient 5s linear infinite;
} */

.start-gradient-background {
    width: 100wh;
    height: 100vh;
    color: #fff;
    background: linear-gradient(-45deg, #000e3d, #192dff, #000e3d, #000e3d);
    background-size: 400% 400%;
    -webkit-animation: Gradient 10s ease infinite;
    -moz-animation: Gradient 10s ease infinite;
    animation: Gradient 10s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}


.study {
    position: absolute;
    top: 20%;
    left: 5%;
    font-size: 150px;
    color: transparent;
    font-weight: bold;
    font-style: italic;
    -webkit-text-stroke: 3px #ffffff;
    text-stroke: 1px #ffffff;
    opacity: 88%;
}

.Buff {
    position: absolute;
    top: 40%;
    left: 10%;
    font-size: 150px;
    color: transparent;
    font-weight: bold;
    font-style: italic;
    -webkit-text-stroke: 3px #ffffff;
    text-stroke: 1px #ffffff;
    opacity: 88%;
}

.body {
    position: absolute;
    top: 22%;
    left: 50%;
}

.content-info{
    top: 28%;
    left: 50%;
    font-size: 30px;
    color: white;
    font-style: italic;
}

.team{
    position: absolute;
    top: 75%;
    left: 20%;
}

.start-button {
    position: absolute;
    top: 65%;
    left: 60%;
    width: 30%;
    background-color: #ffffff;
    color: #070f2d;
    border-radius: 10px;
    border: #061041;
    height: 5%;
    font-size: 20px;
    font-weight: bold;

}

nav {
    background-color: #ffffff;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 6px 16px;
    text-decoration: none;
}

.footer {
    background-color: #9f9e9e;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
}

.photo {
    height: 40px;
    width: 45px;
}

.center {
    padding: 70px 0;
}

.list {
    line-height: 1em;
}

.item {
    line-height: 1em;
}

.item2 {
    line-height: 1.5em;
    font-size: 18pt;
    margin: 30px;
    color: #ffffff
}

.cb {
    background-color: rgb(7, 15, 45);
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    width: 125px;
    height: 42px;
}